@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
:root {
    --monts: 'Montserrat', sans-serif;
    --poppins: 'Poppins', sans-serif;
}
/*  */

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--poppins);
}

header h1 {
    padding-top: 50px;
    /* text-transform: uppercase; */
    font-variant: small-caps;
    font-size: 6vw;
}

header p {
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--monts);
    font-size: 2.5vw;
}

section p {
    padding-bottom: 2em;
}

section.normal {
    color: black;
    background-color: white;
}

section.imagem {
    background-color: black;
    color: white;
    box-shadow: inset 6px 6px 13px 0px black;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem p {
    background-color: rgba(58, 57, 57, 0.479);
    display: inline-block;
    max-width: 350px;
    padding: 10px;
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--poppins);
}