@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infos input {
    padding: 5px;
}

button {
    padding: 5px;
}

.game {
    display: grid;
    justify-content: center;
}

table {
    margin: 50px;
    border: 2px solid black;
}

td {
    padding: 30px;
    border: 1px solid black;
}

td:hover {
    background-color: antiquewhite;
}

