
Projetos/discord-bot/key.py
Faculdade/3° Semestre/Segurança da informação/.idea/workspace.xml
Projetos/robot-framework/aula02/report.html
Projetos/robot-framework/aula01/report.html
Projetos/robot-framework/aula01/log.html
Projetos/robot-framework/aula02/output.xml
Projetos/robot-framework/aula01/output.xml
Projetos/robot-framework/aula02/log.html
Projetos/robot-framework/aula03/report.html
Projetos/robot-framework/aula03/output.xml
Projetos/robot-framework/aula03/log.html
Projetos/robot-framework/aula03/selenium-screenshot-1.png
Projetos/robot-framework/aula03/selenium-screenshot-2.png
