.gitignore
Projetos/discord-bot/key.py
Faculdade/3° Semestre/Segurança da informação/.idea/workspace.xml
Projetos/robot-framework/aula02/report.html
Projetos/robot-framework/aula01/report.html
Projetos/robot-framework/aula01/log.html
Projetos/robot-framework/aula02/output.xml
Projetos/robot-framework/aula01/output.xml
Projetos/robot-framework/aula02/log.html
Projetos/robot-framework/aula03/report.html
Projetos/robot-framework/aula03/output.xml
Projetos/robot-framework/aula03/log.html
Projetos/robot-framework/aula03/selenium-screenshot-1.png
Projetos/robot-framework/aula03/selenium-screenshot-2.png
Projetos/robot-framework/aula03/selenium-screenshot-5.png
Projetos/robot-framework/aula03/selenium-screenshot-4.png
Projetos/robot-framework/aula03/selenium-screenshot-3.png
Projetos/robot-framework/exec/report.html
Projetos/robot-framework/exec/output.xml
Projetos/robot-framework/exec/log.html
Projetos/robot-framework/exec/selenium-screenshot-1.png
Projetos/robot-framework/aula05/report.html
Projetos/robot-framework/aula05/selenium-screenshot-1.png
.gitignore
Projetos/robot-framework/aula05/output.xml
Projetos/robot-framework/aula05/log.html
Cursos/OneBitCode/JS/! Exercicios/Ex19 (DayJS)/node_modules
Results/
Cursos/curso-video/html-css