h1 {
    font-family: 'Montserrat';
}

.date {
    font-family: 'Roboto';
    color: #008080;
}

.post-content {
    font-family: 'Open Sans';
}

.post {
    padding: 10px;
    padding-left: 20px;
}

.post-container {
    width: 70%;
    margin: auto;
    background-color: #fffafa;
    margin-top: 0;
}