p {
    font-family: cursive;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    
}

h1 {
    text-decoration: underline;
    font-family: 'Borel', cursive;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 20%;
    padding: 15px;
}