* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3C9);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(136, 109, 93, 0.438);
}

h1 {
    color: #F39209;
    text-align: center;
    text-shadow: 1px 1px 1px (rgb(247, 0, 0));
}

h2 {
    color: #125189;
}